.hero-cards {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0;
  gap: 66px;
  overflow: hidden;
  background-color: #e8f2ee;
  position: absolute;
  width: 1764px;
  height: 692px;
  left: calc(50% - 1910px / 2);

  top: 65px;
}

.hero-card-1,
.hero-card-5 {
  background: linear-gradient(110.04deg, #e3c79e 0%, #d6ae7b 99.05%);
  border-radius: 15px;
  margin-top: 8px;
  rotate: 90deg;
}

.hero-card-2,
.hero-card-4 {
  height: 300px;
  width: 500px;
  background: linear-gradient(108.63deg, #485563 -0.82%, #29323c 104.26%);
  border-radius: 15px;
  /* margin-top: 634px; */
  rotate: 90deg;
}

.hero-card-3 {
  height: 300px;
  width: 500px;
  background: linear-gradient(109.06deg, #5bb5a2 -10.89%, #53a291 111.82%);
  border-radius: 15px;
  /* margin-top: 538px; */
  rotate: 90deg;
}

.hero-card-title {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 50.68px;
  padding-top: 24.8px;
  padding-left: 26.35px;
}

.hero-card-wifi {
  margin-left: 28.83px;
}
.hero-card-number {
  color: #fafafa;
  padding: 40px;
  margin-left: 60px;
}

.card-bottom-visa {
  display: flex;
}

.visa-corner {
  position: relative;
  right: -6.5px;
}
