.footer-logo {
  font-size: 32px;
  font-weight: 700px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #5bb5a2;
}

.footer-title-text {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: #1a191e;
}

.footer-item {
  font-size: 16px;
  color: rgba(26, 25, 30, 0.5);
}
.footer-by {
  color: #5bb5a2;
}

.footer-part2 {
  font-size: 14px;
  line-height: 160%;
}
