.label-earnings {
  width: 12px;
  height: 12px;
  border-radius: 500px;
  background-color: #5bb5a2;
}

.label-expenses {
  width: 12px;
  height: 12px;
  border-radius: 500px;
  background-color: #f1dfdf;
}

.label {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 8px;
  font-size: 12px;
}

.date::placeholder {
  color: #1a191e;
}
.date-picker {
  border: 1px solid rgb(194, 191, 191);
  border-radius: 4px;
}

.statistics-card-bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* .statistics-first-part {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
} */

/* all feature last part */

.all-features-last-part {
  width: 378.67px;
  height: 550px;
  background-color: #f8f8f8;
  border-radius: 20px;
}

.card-title {
  margin-top: 56px;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #1a191e;
  margin-bottom: 8px;
  height: 96px;
}

.card-detail {
  font-size: 18px;
  line-height: 180%;
  color: rgba(26, 25, 30, 0.5);
  margin-bottom: 58px;
}

.all-features-last-part-card1,
.all-features-last-part-card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-svg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.card-svg-part1,
.card-svg-part2,
.card-svg-part3 {
  display: flex;
  gap: 16px;
}

.card2-svg-part1,
.card2-svg-part2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 8px;

  height: 219px;
  height: 160px;
}

.card2-svg {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  height: 219px;
  width: 344px;
  margin-left: 47px;
}
.item-name {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.03em;
}

.item-price {
  font-size: 14px;
  line-height: 160%;
  color: rgba(26, 25, 30, 0.5);
}

.mobile-item1 {
  height: 65px;
  width: 310px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px 12px 12px;
  margin-bottom: 10px;
  gap: 16px;
}
